/* STYLE PRINCIPAL - MediRDV */
/* Universite Numerique Cheikh Hamidou Kane */

:root {
    --primary: #0077B6;
    --success: #2DC653;
    --warning: #F77F00;
    --danger:  #D62828;
    --bg:      #F8FAFC;
}

body { background-color: var(--bg); }

.card { border: 1px solid #E2E8F0; border-radius: 8px; }
.btn-primary { background-color: var(--primary); border-color: var(--primary); }

/* Badges statut */
.badge-confirme  { background-color: var(--success); color: white; }
.badge-attente   { background-color: var(--warning); color: white; }
.badge-annule    { background-color: var(--danger);  color: white; }
